:root {
  --primaryColor: white;
  --secondaryColor: black;
  --thirdColor: gray;
  --forthColor: rgb(28, 29, 31);
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Barlow", system-ui;
  font-weight: 400;
  font-size: 18px;
}

.navigation {
  font-family: "Playfair Display", system-ui;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
}
.navigation img {
  margin-left: 10px;
}
.navigation ul {
  display: flex;
  margin-left: 50px;
  width: 100%;
}

.navigation ul li {
  padding: 8px;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .navigation ul li {
    display: none;
  }
}

.navigation .auth-button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

/* ************************ */
/* section 1 banner */
.banner {
  position: relative;
}

.banner .banner-img {
  width: 100%;
}
.banner .banner-content {
  position: absolute;
  z-index: 2;
  top: 20%;
  margin-left: 40px;
  background-color: var(--primaryColor);
  padding: 30px;
  font-family: "Playfair Display", system-ui;
  line-height: 1.5;
}

.banner-content h1 {
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 3px;
}
/* ************************* */
/* section2 */
.section2 {
  width: 100%;
  margin: 0 auto;
}
.section2 h1 {
  font-family: "Playfair Display", system-ui;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
.section2-table-title ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
}
.section2-table-title li {
  cursor: pointer;
}

.section2-table-content {
  border: 1px solid var(--thirdColor);
  padding: 50px;
  margin: 20px 70px;
}
.section2-table-content h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section2-table-cards {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.course-card {
  min-width: 300px; /* flex-shrink: 0; */
  border: 1px solid var(--thirdColor);
  padding: 10px;
  margin: 20px;
}
.course-card img {
  width: 100%;
  height: 150px;
}
.course-card h4 {
  font-weight: 600;
}
/* ************************** */
/* section 3 */
.section3 {
  max-width: 1600px;
  margin: 0 auto;
}
.section3 h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 120px;
}
.section3 .categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
  justify-items: center;
}

/* large and extra large devices */
@media (min-width: 1280px) {
  .section3 .categories {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* medium devices */
@media (max-width: 960px) {
  .section3 .categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* small devices  */
@media (max-width: 600px) {
  .section3 .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.category-card {
  width: 220px;
}
.category-card img {
  width: 100%;
  transition: transform 150ms cubic-bezier(0, 0, 0.38, 0.9);
}
.category-card img:hover {
  transform: scale(1.05);
}

.category-card h4 {
  font-weight: 600;
}

/* ***************************** */
/* footer */
.footer-container {
  background-color: var(--forthColor);
  color: var(--primaryColor);
  margin-top: 20px;
}
.footer-section1 {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.footer-links ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: start;
}
.footer-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--forthColor);
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  padding: 10px 30px;
  font-weight: 600;
}

.footer-section2 {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.footer-section2 .footer-logo img {
  width: 150px;
}
/* ************************** */
/* general */
.btn.btn-primary {
  background-color: var(--primaryColor);
  border: 1px solid var(--secondaryColor);
  padding: 8px 20px;
  font-weight: 600;
  color: var(--secondaryColor);
  border-radius: 5px;
  margin: 5px 10px;
}
.btn.btn-primary:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  cursor: pointer;
}
